APP_NAME=Hospital System

APP_ENV=development

APP_DEBUG=true

APP_URL=http://localhost/usintellix-hospital-management-system

DB_HOST=

DB_PORT=3306

DB_DATABASE=

DB_USERNAME=

DB_PASSWORD=

DB_CHARSET=utf8mb4

MAIL_HOST=mail.usintellix.com

MAIL_PORT=465

MAIL_ENCRYPTION=ssl

MAIL_USERNAME=iask@usintellix.com

MAIL_PASSWORD=

MAIL_FROM_NAME=Intellix Hospital System
